/* _machine-learning.scss */
.banner-pixc-claim {
  width: 100%;
  background-color: white;
  padding: 3em 20%;
  text-align: center;
  .title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #2F80ED;
    letter-spacing: .05em;
    margin-bottom: 1em;
    display: block;
  }
  .text {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 27px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
.banner-semantic-frontpage {
  background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/machine-learning/taxi-1600-overlay.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/machine-learning/taxi-1600-overlay.png', sizingMethod='scale')";
  transition: background-image 0.4s ease-in;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: auto;
  &__header {
    margin: 0 50px 50px 0;
    width: 300px;
    .extra-text {
      font-family: 'Signika';
      font-size: 20px;
      line-height: normal;
      color: #fff;
      letter-spacing: .04em;
    }
    .title {
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 34px;
      line-height: 44px;
      letter-spacing: .02em;
      color: #fff;
      margin-bottom: 17px;
      margin-top: 8px;
    }
    .text {
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: .04em;
      color: #fff;
    }
  }

  //Responsive
  @media (min-width: 992px) {
    background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  };
  @media (min-width: 1200px) {
    background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  };
  @media (min-width: 1440px) {
    background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  };
  @media (min-width: 1600px) {
    background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  };

  //Animation
  &.overlay-bg {
    background-image: url('../img/machine-learning/taxi-1600-overlay.png');
  }

}
.banner-drivesafe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;

  .banner-drivesafe {
    &__phone-cont{
      width: 80%;
      .img {
        max-width: 500px;
        width: 100%;
      }
      .title {
        font-family: 'Signika';
        font-size: 40px;
        color: $almost-black;
        margin-bottom: 5%;
        margin-top: 40px;
      }
      .description {
        max-width: 500px;
        min-width: 200px;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 300;
        letter-spacing: .05em;
        color: $almost-black;
        line-height: 35px;
      }
    }
    &__sensors-cont{
      width: 62%;
      .icons-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        padding: 50px 0;
        .icon {
          width: 70px;
          margin-right: 20px;
        }
        h5 {
          color: #4F4F4F;
          font-family: 'Open Sans';
          font-size: 26px;
          font-weight: normal;
          letter-spacing: .05em;
          margin-bottom: 10px;
        }
        p {
          color: #4F4F4F;
          font-family: 'Roboto';
          font-size: 15px;
          font-weight: 300;
          letter-spacing: .05em;
          max-width: 300px;
        }
      }
    }
  }
}

.fluid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  // .fluid-container__item {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  // }
}

.more-applications {
  width: 100%;
}
.more-applications__row {
  display: flex;
  flex-direction: row;
  height: 475px;
}
.more-applications__row__text {
  width: 50%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .subtitle {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #2F80ED;
    letter-spacing: .05em;
    margin-bottom: 1em;
  }
  .title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: normal;
  color: black;
  margin-bottom: 7px;
  }
  .text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: normal;
    color: black;
  }
}
