/* video-expertise.scss */
.banner-video-expertise {
  height: 100vh;
  width: 100%;
  padding-top: $header-height;
  background: url('../img/video-expertise/3.jpg');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/video-expertise/1.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/video-expertise/1.png', sizingMethod='scale')";
  //Responsive:
  @media (min-width: 992px) {
    background-image: url('../img/video-expertise/3.jpg');
  };
  @media (min-width: 1200px) {
    background-image: url('../img/video-expertise/3.jpg');
  };
  @media (min-width: 1440px) {
    background-image: url('../img/video-expertise/3.jpg');
  };
  @media (max-width: 780px) {
    height: 600px;
    padding-top: 6.5em;
  }
  //
  // .banner__title {
  //   font-family: 'Roboto Condensed';
  //   font-size: 45px;
  //   letter-spacing: .3px;
  //   color: #F2F2F2;
  // }
  // .banner__subtitle {
  //   font-family: 'Roboto';
  //   font-weight: 100;
  //   letter-spacing: 1px;
  //   font-size: 16px;
  //   color: #F2F2F2;
  // }
  &__text-box {
    margin-top: 110px;
    margin-left: 5.5%;
    .title {
      font-family: Signika;
      font-weight: 500;
      font-size: 38px;
      line-height: 43px;
      color: #f2f2f2;
      margin-bottom: .2em;
    }
    .subtitle {
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 15px;
      line-height: normal;
      letter-spacing: 0.05em;
      color: #c06103;
      text-shadow: 0 4px 4px rgba(0,0,0,.25);
    }
  }
}
.banner-advantages {
  background-color: #00B3EB;
  padding: 4em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__items-wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    // min-width: 49%;
    // max-width: 80%;
  }
  &__items {
    // max-width: 155px;
    * {
      display: block;
    }
    .icon {
      margin-bottom: 20px;
      &.flaticon-battery {
        margin-left: -12px;
      }
      &.flaticon-idea {
        margin-left: -9px;
      }
      &::before {
        font-size: 60px;
      }
    }
    .headline {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.07em;
      margin-bottom: 20px;
      color: white;
    }
    .body-text {
      font-family: 'Open Sans';
      font-weight: lighter;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.05em;
      color: white;
    }
  }
}

.highligthed-claim {
  width: 100%;
  text-align: center;
  padding: 6.5%;
  min-height: 300px;
  .highligthed-claim__header {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #00B3EB;//TODO: unify blue colors
    letter-spacing: .05em;
    display: block;
    margin-bottom: 15px;
  }
  .highligthed-claim__text {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
  }
}

$list-text-line-height: 28px;
$phone-width: 545px;
$phone-width-responsive: 500px;
$phone-whitespace-responsive: 50px;
$phone-text-aside-width: 40px + 290px; //padding+w
.banner-advanced-capabilities {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__colored-section {
    background-color: #F2994A;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: end;

    .header-wrapper {
      text-align: right;
      margin-top: 40px;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      width: 100%;//Grows with window
      max-width: $phone-width - 5px; //To fix it on resize
      .label {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        line-height: normal;
        text-transform: uppercase;
        font-variant: small-caps;
        color: white;
        margin-bottom: 10px;//
        display: block;//
      }
      .text {
        max-width: 240px;
        font-family: 'Open Sans Condensed';
        font-weight: 300;
        font-size: 26px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: white;
        align-self: flex-end;//Avoid width-pulling left
      }
    }
    .img {
      height: 300px;
      width: $phone-width;
    }
  }

  &__list-section {
    display: flex;
    justify-content: center;
    width: 100%;
    .title {
      color: #4F4F4F;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 22px;
      line-height: normal;
      margin-bottom: 22px;
      margin-left: 10px;
      display: block;
    }
    .item {
      margin-bottom: 15px;//
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      &__dot {
        margin-right: 8px;
        display: inline-block;
        font-weight: bold;
        line-height: $list-text-line-height;
      }
      &__text {
        font-family: 'Roboto';
        color: #4F4F4F;
        font-size: 15px;
        font-weight: 300;
        line-height: $list-text-line-height;
        letter-spacing: 0.04em;
        // line-height: 33px;
      }
    }
    .color-orange {//TODO: usar clase utils
      color: #F2994A;
    }
  }
}
@media (min-width: 555px) {
  .banner-advanced-capabilities__colored-section {
    align-items: center;
  }
};
@media (min-width: 765px) {
  .banner-advanced-capabilities__colored-section {
    flex-direction: row-reverse;
    align-items: start;
    padding-top: 75px !important;
    justify-content: center;
    .header-wrapper {
      text-align: left;
      margin: 0;
      padding: 0 10px;
      padding-left: 40px;
      width: auto;
      .label {
        letter-spacing: 1px;
        font-size: 12px;
      }
      .text {
        align-self: start;
      }
    }
    .img {
      height: 275.22px;
      width: 500px;
    }
  }
  .banner-advanced-capabilities__list-section {
    .wrapper {
      margin-left: $phone-whitespace-responsive;
      width: $phone-text-aside-width + $phone-width-responsive;
    }
  }
};
@media (min-width: 992px) {
  .banner-advanced-capabilities {
    flex-direction: row;
    &__colored-section {
      flex-direction: column;
      align-items: flex-end;
      padding-top: 1rem !important; //Avoid 75px prev. bp
      .header-wrapper {
        text-align: right;
        margin-bottom: 40px;
        margin-top: 38px;
      }
      .text {
        align-self: flex-end;
      }
    }
    &__list-section {
      justify-content: center;
      align-items: center;
      .wrapper {
        margin-left: 0;
        width: 100%;
      }
      .item__text {
        line-height: 20px;
      }
    }
  }
}
$align-items-top: 60px!important;
@media (min-width: 1200px) {
  .banner-advanced-capabilities {
    max-height: 445px;
    &__colored-section {
      flex-direction: row-reverse;
      align-items: start;
      justify-content: flex-start;
      .header-wrapper {
        text-align: left;
        margin: 0;
      }
      > * {
        margin-top: $align-items-top;
      }
    }
  }
}
@media (min-width: 1600px) {
  .banner-advanced-capabilities__colored-section {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .banner-advanced-capabilities__list-section {
    flex: 0 0 60%;
    max-width: 40%;
  }
}

.banner-computer-vision {
  width: 100%;
  height: 350px;
  background-image: url('../img/video-expertise/circle-long-angle_horizontal_576.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  &__title {
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 300;
    line-height: normal;
    color: $white;
    margin-bottom: 20px;
    letter-spacing: .02em;
  }
  &__text {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: $white;
    max-width: 385px;
    margin-bottom: 30px;
    letter-spacing: .08em;
  }
  .btn {
    padding: .25rem .8rem;
    font-size: .875rem;
    line-height: 1.5;//// TODO: general responsive btn sizes
  }
  //Responsive Background Image:
  @media (min-width: 576px) {
    background-image: url('../img/video-expertise/circle-long-angle_horizontal_768.jpg');
  };
  @media (min-width: 768px) {
    background-image: url('../img/video-expertise/circle-long-angle_horizontal_992.jpg');
  };
  @media (min-width: 992px) {
    background-image: url('../img/video-expertise/circle-long-angle_horizontal_1200.jpg');
  };
  @media (min-width: 1200px) {
    background-image: url('../img/video-expertise/circle-long-angle_horizontal_1440.jpg');
  };
  @media (min-width: 1440px) {
    background-image: url('../img/video-expertise/circle-long-angle_horizontal_1920.jpg');
  };
}
