/* menu.scss */

$menu-width   : 250px;
$header-height: 60px;
$logo-height  : 17px;
$hamburguer_line-height : 1px;

.menu-main-container {
    transition: background-color 0.4s ease-in;
    display: block;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #ffffff0a;
    position: fixed;
    height: $header-height!important;
    z-index: 10;
}
.menu-container {
    height: 100%;
    position: fixed;
    right: 0;
    width: $menu-width;
    margin-top: $header-height;
    transform: translateX($menu-width);
    background-color: white;
}
.menu{
    margin-top: 40px;
    margin-left: 20px;
}
.menu__item{
    list-style: none;
    margin-bottom: 25px;
    width: 12ch;
    &--end {
      bottom: 85px;
      position: absolute;
    }
}
.menu__link{
    cursor: pointer;
    list-style: none;
    color: $white;
    font-family: 'open sans';
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    display: block;
    &:hover ~ .menu__link-underline {
      width: 20%;
    }
    &-underline {
      -webkit-transition: -webkit-width 0.4s ease; /* Chrome < 26, Safari < 7 */
      -moz-transition:    -moz-width 0.4s ease; /* Firefox < 16 */
       -o-transition:      -o-width 0.4s ease; /* Opera < 12.10 */
          transition: -webkit-width 0.4s ease; /* Chrome 26-35, Safari, Opera 15-23 */
          transition:         width 0.4s ease; /* IE10+, Firefox 16+, Chrome 36+, Opera 12.10 */
      width: 0%;
      margin-top: 2px;
      border-top: .5px solid $blue;
      float: left;
      display: block;
    }
}
.menu__logo {
    position: inherit;
    height: $logo-height;
    width: auto;
    margin-top: ($header-height - $logo-height)/2;
}
.menu__button {
  font-size: 13px;
  padding: 6px 15px;
}
.menu__icon-body {
    position: static;
    -webkit-transition: -webkit-all 0.3s; /* Chrome < 26, Safari < 7 */
    -moz-transition:    -moz-all 0.3s; /* Firefox < 16 */
     -o-transition:      -o-all 0.3s; /* Opera < 12.10 */
        transition: -webkit-all 0.3s; /* Chrome 26-35, Safari, Opera 15-23 */
        transition:         all 0.3s; /* IE10+, Firefox 16+, Chrome 36+, Opera 12.10 */

    height: auto;
    width: 21px;
    z-index: 99;
    margin-top: ($header-height - 15px)/2;
    margin-bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    .line {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        background-color: $white;
        float: left;
        height: $hamburguer_line-height;
        width: 100%;
        &.middle {
            margin-top: $hamburguer_line-height * 5;
        }
        &.bottom {
            margin-top: $hamburguer_line-height * 5;
        }
    }
}
.menu-toggle-checkbox {
  display: none;
}
.menu-main-container.highligthed-menu,
.menu-main-container:hover {
  background-color: white;
  .menu__link {
    color: $black;
  }
  .menu__icon-body .line{
    background-color: $black;
  }
}
/*
// Animation
*/
.menu-animation {//must keep the hierarchy to work
  &.menu-main-container{
    background-color: white;
  }
  .menu-container {
    transition: transform 250ms ease-in-out;
    -webkit-transition: -webkit-transform 250ms ease-in-out; /* Chrome < 26, Safari < 7 */
    -moz-transition:    -moz-transform 250ms ease-in-out; /* Firefox < 16 */
    -o-transition:      -o-transform 250ms ease-in-out; /* Opera < 12.10 */
    transition: -webkit-transform 250ms ease-in-out; /* Chrome 26-35, Safari, Opera 15-23 */
    transform: translateX(0);
  }
  .menu__icon-body {
    .line {
      background-color: $black;
      &.middle {
        opacity: 0;
      }
      &.top {
        transform: rotate(135deg);
        margin-top: 9px;
        // top:8px;
      }
      &.bottom {
        transform: rotate(-135deg);
        margin-top: -7px;
        // top:-4px;
      }
    }
  }
  .menu__link {
    color: $black;
  }
}

//Responsive. Desktop layout
@media (min-width: 1024px) {
  .menu-toggle--trigger {
    display: none;
  }
  .menu-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin-top: 0;
    width: auto;
    position: absolute;
    right: $menu-width; //Undo transformX with other propiety to avoid animation onResize
    margin-right: $default-padding-value; //apply general padding
  }
  .menu {
    margin-top: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__item {
      margin-bottom: 0;
      width: auto;
      margin-right: 35px;
      &--end {
        position: inherit;
        margin-left: 20px;
      }
    }
    &__link {
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.05em;
      color: white;
      text-transform: none;
      margin-top: 7px; //Related
      &-underline {
        margin-top: 4px; //Related
        margin-bottom: 0;
        border-top: 1px solid $gray-600;
        height: 0.5px;
        float: none;
      }
      &:hover ~ .menu__link-underline {
        width: 40%;
      }
    }
  }
  .menu__logo {
    margin-top: 0;
  }
  .menu__button {
    padding: 4px 14px;
  }
}
