/* utilities.scss */
.padding {
  &--horizontal{
    &--normal {
      padding-left: $default-padding-value;
      padding-right: $default-padding-value;
    }
    &--large {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  &--vertical {
    &--normal {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}


.shadow-bottom {
  -webkit-box-shadow: 0px 2px 6px 0.5px #e9edf1;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 2px 6px 0.5px #e9edf1;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 2px 6px 0.5px #e9edf1;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.primary-link {
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  &:hover {
    color: $blue;
  }
}
.underline-link {
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  &:hover {
    text-decoration: underline;
  }
}
.bg-img-cover {
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.hover-shadow {
  &:hover {
    -webkit-box-shadow: 0px 2px 6px .5px #555555;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 2px 6px .5px #555555;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 2px 6px .5px #555555;
    background-color: transparent;
  }
}

.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.muted {
  opacity: 0.5;
}

.font-weight-bolder {
  font-weight: $font-weight-bolder;
}
.font-weight-medium {
  font-weight: $font-weight-medium;
}

.line-height-s {
  line-height: 20px;
}
.line-height-m {
  line-height: normal;
}
.line-height-initial {
  line-height: initial;
}

.letter-spacing-s{
  letter-spacing: 0.3px;
}
.letter-spacing-xs{
  letter-spacing: 0.15px;
}
.letter-spacing-md{
  letter-spacing: 0.5px;
}
.letter-spacing-lg{
  letter-spacing: 0.8px;
}

.height {
  &.extra-xxs {
    height: 15px;
  }
  &.xxs {
    height: 20px;
  }
  &.xs {
    height: 25px;
  }
  &.sm {
    height: 30px;
  }
  &.lg {
    height: 35px;
  }
  &.extra-lg {
    height: 45px;
  }
}

.overflow-scroll{
  overflow-y: auto;
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}
.no-pointer {
  cursor: not-allowed;
}

.nowrap-text {
  white-space: nowrap;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
