<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pixcellence Inc.</title>

    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Condensed:300,400|Roboto:100,300,400,400i,700,900|Signika:400,600,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" />
</head>

<body>
  <div class="main-container">

    <div class="menu-main-container menu-header padding--horizontal--normal shadow--bottom" id="menu-container-js">
      <a href="../../index.html">
        <img src="../img/pictologo-pixcellence.png" alt="logo pixcellence" class="menu__logo float-left" width="125" height="15">
      </a>
      <input type="checkbox" class="menu-toggle-checkbox" id="menu-toggle-checkbox">
      <label for="menu-toggle-checkbox" class="menu__icon-body float-right menu-toggle--trigger" id="menu-toggle-js">
        <div class="line diagonal top"></div>
        <div class="line middle"></div>
        <div class="line diagonal bottom"></div>
      </label>
      <nav role="navigation" class="menu-container" id="menu-element-js">
        <ul class="menu">
          <li class="menu__item">
            <a href="machine-learning.html" class="menu__link">Machine Learning</a>
            <hr class="menu__link-underline"></hr>
          </li>
          <li class="menu__item">
            <a href="video-expertise.html" class="menu__link">Video Expertise</a>
            <hr class="menu__link-underline"></hr>
          </li>
          <li class="menu__item">
            <a class="menu__link " href="mailto:sales@pixcellence.com">Contact us</a>
              <hr class="menu__link-underline"></hr>
          </li>
        </ul>
      </nav>
    </div>

    <section class="banner-video-expertise bg-img-cover">
      <header class="banner-video-expertise__text-box">
        <h1 class="title">Image Processing <br>& Computer Vision</h1>
        <p class="subtitle">With our superior Color Night Vision</p>
        <p class="text">Color Night Vision shows details of a day time image such as color of clothing and person details versus black and white security cameras</p>
      </header>
    </section>

    <section class="banner-advantages">
      <ul class="banner-advantages__items-wrapper flex-column flex-sm-row col-12 col-sm-12 col-md-11 col-lg-9 col-xl-7">
        <li class="banner-advantages__items px-3 px-lg-5 mb-5 mb-sm-0">
          <i class="flaticon-idea icon text-white"></i>
          <span class="headline">No forward IR Illumination</span>
          <p class="body-text">Works with minimal light available</p>
        </li>
        <li class="banner-advantages__items px-3 px-lg-5 mb-5 mb-sm-0">
          <i class="flaticon-sun icon text-white"></i>
          <span class="headline">Daytime colors and quality</span>
          <p class="body-text">Observe colors of clothing, hair and vehicles</p>
        </li>
        <li class="banner-advantages__items px-3 px-lg-5 mb-5 mb-sm-0">
          <i class="flaticon-battery icon text-white"></i>
          <span class="headline">Lower power and cost</span>
          <p class="body-text">No IR LEDs and mechanical Lens systems</p>
        </li>
      </ul>
    </section>

    <section class="highligthed-claim bg-black set-content-center flex-column">
      <span class="highligthed-claim__header">Color Night Vision Experts</span>
      <p class="highligthed-claim__text">High volume deployment by multiple security companies</p>
    </section>

    <section class="banner-advanced-capabilities">
      <div class="banner-advanced-capabilities__colored-section py-4 py-lg-3 px-4 px-lg-5 pt-md-5 col-lg-7 col-xl-8">
        <div class="header-wrapper">
          <span clasS="label">image processing</span>
          <p class="text">Advanced Image Processing Capabilities</p>
        </div>
        <img src="../img/video-expertise/phone-mockup-mountains-orange.png" alt="iphone high quality background image" class="img">
      </div>
      <div class="banner-advanced-capabilities__list-section py-5 px-4 px-sm-5 py-lg-4 col-lg-5 col-xl-4">
        <div class="wrapper">
          <span class="title">Get the best result</span>
          <ul>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text">Fish Eye Correction enabling <span class="color-orange">360 degree Field of View</span></span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text"><span class="color-orange">Ultra low-light </span>performance < 0.05 lux color vision</span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text">3D Noise Reduction, WDR, Edge Enhancement</span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text">Picture <span class="color-orange">Quality Tuning Expertise </span></span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text"><span class="color-orange">Low latency</span>, real time, multiple simultaneous streaming</span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text">Low bitrate encoding</span></li>
            <li class="item">
              <span class="item__dot">·</span>
              <span class="item__text">Computer Vision <span class="color-orange">Motion Sensing </span></span></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="banner-computer-vision set-content-center">
      <div class="max-width-wrapper set-content-center justify-content-md-end">
      <div class="wrapper col-11 col-md-6 padding--horizontal--normal">
        <h2 class="banner-computer-vision__title">Computer Vision</h2>
        <p class="banner-computer-vision__text">Early detection, vivid night color, significantly lower power without IR or any illumination and superior color night vision</p>
        <a class="btn btn-outline-primary" href="mailto:sales@pixcellence.com">Contact us</a>
      </div>
    </div>
    </section>
  </div>
  <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contactFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactFormLabel" >Get it Touch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="../../contact.php" method="post">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">E-mail:</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea class="form-control" name="message" required></textarea>
          </div>
          <input type="submit" value="Send message" class="btn btn-outline-primary">
        </form>
      </div>

    </div>
  </div>
</div>
<footer class="footer">

  <div class="banner-slogan total-center">
    <a class="btn btn-primary" href="mailto:sales@pixcellence.com">Get in touch</a>
  </div>

    <div class="container text-center text-md-left mt-5">

      <div class="row mt-3 dark-grey-text">
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold text-dark">Pixcellence Inc.</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="font-weight-light">Pixcellence, headquartered in San Diego (USA), develops exciting new wireless and video consumer products</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-dark">San Diego, USA</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="dark-grey-text font-weight-light">7420 Carroll Rd.</p>
          <p class="dark-grey-text font-weight-light">San Diego CA 91121</p>
          <p class="dark-grey-text text-smaller">Tel. +1.858.922.7702</p>
          <p class="text-primary font-weight-light text-smaller">sales@pixcellence.com</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-dark">Bangalore, India</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="dark-grey-text font-weight-light text-smaller">Tel. 9972763005</p>
          <p class="dark-grey-text text-smaller">+91-80-43943005</p>
          <p class="dark-grey-text text-primary font-weight-light text-smaller">sales@pixcellence.com</p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold text-dark">Madrid, Spain</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
          <p class="dark-grey-text font-weight-light">Pixcellence AI</p>
          <p class="dark-grey-text text-primary font-weight-light text-smaller">sales@pixcellence.com</p>
        </div>
      </div>
    </div>



    <div class="footer-copyright text-center text-black-50 py-3">Copyright © 2019 Pixcellence Inc. All rights reserved. <br> <small>Designed and developed by <a href="https://linkedin.com/in/saradiazlamas/" class="text-gray-800"> Saz Lamas </a> </small></div>


  </footer>

  <script src="../js/vendor/jquery-3.2.1.min.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>
  <script src="../js/video-player.js"></script>
  <script src="../js/menu.js"></script>
</body>
</html>
